@using PyroDB.Models.Base
@model IEnumerable<RecipeInfo>
@{
    ViewData["Title"] = "Recipes";
}


<table>
    <thead>
        <tr>
            <th>
                Have all ingredients
            </th>
            <th>
                Name
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var b in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => b.HasIngredients)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => b.DbRecipe.Name)
                </td>
            </tr>
        }
    </tbody>
</table>


