@using PyroDB.Models.Base
@model IEnumerable<RecipeInfo>
@{
    ViewData["Title"] = "Recipes";
}

<div class="cardAuto">
    @foreach (var b in Model)
    {

        <partial name="_Recipe" model="b" />

    }
</div>

<button type="button" class="btn btn-primary" id="loadMore">Load more</button>


<input type="hidden" id="pageNo" name="pageNo" value="0" />
<input type="hidden" id="pageSize" name="pageSize" value="@Model.Count()" />



