@model PyroDB.Models.Chemical

<h1>Edit chemical</h1>

<h4>@Model.Name</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Symbol" class="control-label"></label>
                <input asp-for="Symbol" class="form-control" />
                <span asp-validation-for="Symbol" class="text-danger"></span>
            </div>
            <div class="form-group">

                @foreach (var v in PyroDB.Models.Chemical.GetAvailableGHS())
                {
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" 
                                   name="CheckedSymbols" 
                                   value="@v"
                                   @if (Model != null) { @if (Model.GHS != null) { @if (Model.GHS.HasFlag(v)) { <text> checked </text> } } } />

                            @v.ToString();
                        </label>
                    </div>
                }

            </div>

            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
